@charset "UTF-8";
/* 見出し1の文字サイズ */
h1 {
  background-color: green; /* 背景を緑に */
    color: white;            /* 文字を白に */
  font-size: 100px;
}

/* 見出し2の文字サイズ */
h2 {
  font-size: 25px;
}

/* 段落（本文）の文字サイズ */
p {
  font-size: 5px;
}
